:root {
    --corSecundaria: #EE7B30;
    --corDestaque1: #fe5f55;
    --corDestaque2: #0e79b2;
    --corBase: #FBFEF9;
    --corBase1: #f0f0f0;
    --corPrimaria: #142140;

    --sombra: box-shadow: 0px 0px 35px #00000010;
}


@media (max-width: 1550px) {

    /*---------Inicio nav-----------*/
    header {
        background-color: var(--corDestaque2);
       
    }
    
    .chamada {
        display: flex;
        height: 100vh;
        background: linear-gradient(  45deg, var(--corDestaque1,), var(--corSecundaria));
        gap: 30px;
    }
    
    .chamadaInfo {
        display: flex;
        flex-direction: column;
        width: 50%;
        color: var(--corPrimaria);
        gap: 10px;
        padding: 10px;
    }
    .chamada > img {
        border-radius: 50px;
        box-shadow: 0px 0px 35px #0000001d;
        width: 30%;
    }
    .chamadaInfo > h1 {
        font-family: 'Lexend Deca', sans-serif;
        width: 50%;
        font-size: 2rem;
        font-weight: 600;
        color: var(--corBase);
        line-height: 40px;
        
        }
    .chamadaInfo > p {
        font-family: 'Lexend Deca', sans-serif;
        width: 50%;
        font-weight: 200;
        font-size: 14pt;
    
            }
    .chamadaInfo a {
        text-align: center;
        color: var(--corPrimaria);
        border: solid;
        padding: 20px;
        border-radius: 25px;
        font-weight: 600;
        width: 50%;
    }
    
    /*---------------produtos------------------------------*/
    .produtos {
        background-color:var(--corBase);
        display: flex;
        flex-direction: column; 
     }
    
     .destaques{
        display: flex;
        overflow: hidden;
        
     }
    
     .destaqueCard {
        display: flex;
        justify-content: space-around;     
        border-radius: 160px;
        object-fit: contain;
        box-shadow: 0px 0px 30px #00000013;
        
     }
     .destaqueCard > img {
        width: 100%;
     }
    
     .gallery {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 30px;
        padding: 50px;
     }
    
     .productFirst {
        display: flex;
        width: 40%;
        max-height: 550px ;
        overflow: hidden;
        border-radius: 50px;
        box-shadow: 0px 0px 35px #00000010;
        
        
     }
    
     .productFirst > img {
        object-fit: contain; /*lembrar sempressa propriedade, para ajustar as imagens*/
        width: 100%;
    
     }
    
     .productGallery {
        display: flex;
        width: 33%;
        max-height: 550px;
        flex-wrap: wrap;
        gap: 30px; 
        overflow: hidden;
        padding: 30px;
     }
    
     .fotos {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        box-shadow: 0px 0px 35px #00000010;
        border-radius: 30px;
        overflow: hidden;
        width: 40%;  
    }
    
     .fotos > img {
        width: 100%;
        object-fit: cover;
     }
    
     .galleryInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        width: 100%;
        
     }
     .brindePersonalizado /*Referente ao Strong*/ {
        color: var(--corSecundaria);
     }
    
     .galleryInfo > h2 {
        font-family: 'Lexend Deca', sans-serif;
        color: var(--corPrimaria);
        font-size: 3.5rem;
        font-weight: 600;
    
     }
    
     .galleryInfo a {
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
        color: var(--corPrimaria);
        border: solid;
        padding: 10px 100px;
        border-radius: 25px;
        font-weight: 600;
        
    }
    
    .galleryInfo > a:hover {
      
        transition: 0.4s;
        
        color: var(--corDestaque1);
    }
    
    
    
    
    
    /*------------------------------------------------------*/
    }