:root {
    --corSecundaria: #EE7B30;
    --corDestaque1: #fe5f55;
    --corDestaque2: #0e79b2;
    --corBase: #FBFEF9;
    --corBase1: #f0f0f0;
    --corPrimaria: #142140;

    --sombra: box-shadow: 0px 0px 35px #00000010;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
html {
    scroll-behavior: smooth;
    
}

body {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
}

body::-webkit-scrollbar /*barra de rolagem*/ {
    width: 9px;
}

body::-webkit-scrollbar-track /*trilho de rolagem*/ {
    background-color: var(--corBase1);
    padding: 5px;
}

body::-webkit-scrollbar-thumb /*marcador rolagem*/ {
    background-color: #bebebe;
    border-radius: 4px;
    margin: 10px;
    
}


/*-------------------Inicio nav--------------------*/


header {
    display: flex;
    justify-content: center;
    background-color: var(--corDestaque1);
    height: 5vh;

}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    
}
    
nav > a {
    display: flex;
    height: 3vh;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--corPrimaria);
   
 

}

nav > a:hover {
    color:#453875;
    transition: 0.5s;
}

 /*-----------------------Início Destaque-------------------------*/

.chamada {
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(  45deg, var(--corDestaque1,), var(--corSecundaria));
    gap: 30px;

}
.chamadaInfo {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: var(--corPrimaria);
    width: 50%;
    gap: 30px;
    padding: 30px;
}
.DestaqueTextChamada {
    color: var(--corPrimaria);
}
.chamadaInfo > h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 3.5rem;
    width: 50%;
    font-weight: 600;
    color: var(--corBase);
    line-height: 55px;
    
    }
.chamadaInfo > p {
    font-family: 'Lexend Deca', sans-serif;
    width: 50%;
    font-weight: 200;
    font-size: 2rem;

        }
.chamadaInfo a {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    width: 50%;
    color: var(--corPrimaria);
    border: solid;
    padding: 20px;
    border-radius: 25px;
    font-weight: 600;
}
.chamadaInfo a:hover {
  
    transition: 0.4s;
    color: #453875;
}
.chamada > img {
    border-radius: 50px;
    box-shadow: var(--sombra);
    width: 30%;
}

 /*-------------------------Início Produto-------------------*/
 .produtos {
    background-color:var(--corBase);
    display: flex;
    flex-direction: column; 
 }

 .destaques{
    display: flex;
    justify-content: space-around;
    padding: 50px;
 }

 .destaqueCard {
    border-radius: 50px;
    overflow: hidden;
    height: 50vh;
 }
 .destaqueCard > img {
    width: 100%;
 }

 .gallery {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    padding: 50px;
 }

 .productFirst {
    display: flex;
    width: 40%;
    max-height: 550px ;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 0px 0px 35px #00000010;
    
    
 }

 .productFirst > img {
    object-fit: contain; /*lembrar sempressa propriedade, para ajustar as imagens*/
    width: 100%;

 }

 .productGallery {
    display: flex;
    width: 33%;
    max-height: 550px;
    flex-wrap: wrap;
    gap: 30px; 
    overflow: hidden;
    padding: 30px;
 }

 .fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 35px #00000010;
    border-radius: 30px;
    overflow: hidden;
    width: 40%;  
}

 .fotos > img {
    width: 100%;
    object-fit: cover;
 }

 .galleryInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 23%;
    
 }
 .brindePersonalizado /*Referente ao Strong*/ {
    color: var(--corSecundaria);
 }

 .galleryInfo > h2 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--corPrimaria);
    font-size: 3.5rem;
    font-weight: 600;

 }

 .galleryInfo a {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--corPrimaria);
    border: solid;
    padding: 20px;
    border-radius: 25px;
    font-weight: 600;
    
}

.galleryInfo > a:hover {
  
    transition: 0.4s;
    
    color: var(--corDestaque1);
}

/*----------------------Início Informacoes------------------*/
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--corBase1);
    padding: 30px;
}
.infoTitle {
    gap: 30px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--corDestaque2);
    padding-bottom: 50px;
}
.InfoSubTitle {
    color: var(--corDestaque2);
    font-family: 'Lexend Deca', sans-serif;
    font-size:1.3rem;
}
.infoLista{
    color: var(--corPrimaria);
    font-weight: 200;
    font-size: 1.125rem;
    font-family: 'Lexend Deca', sans-serif;
}
.infoCaixa {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}
.infoSobre {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 10px;
}

.infoSobre > p {
    color: var(--corPrimaria);
    font-weight: 200;
    font-size: 1.125rem;
    font-family: 'Lexend Deca', sans-serif;
    text-align: justify;
}

.infoDados {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;
}

.infoMedidas {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 10px;
}

.infoMedidas > img {
    width: 100%;
    mix-blend-mode: multiply;
}

/*-----------------------------Início vídeo----------------------*/
.video360 {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.video360 > img {
    object-fit: cover;
    width: 100%;
}
/*---------------------Início footer-------------------*/
footer {
    
    bottom: auto;
}
#btnTop, #btnTop > a {
    display: flex;
    padding-top: 35px;
    justify-content: center;
    background-color: var(--corPrimaria);
    font-weight: 200;
    font-size: 1.125rem;
    font-family: "Lexend Deca", sans-serif;
    color: var(--corDestaque2);
}


.boxFooter {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 60px;
    background-color: var(--corPrimaria);


}


.BoxFooterItemTitle {
    color: var(--corDestaque1);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.3rem;
}

.BoxFooterItemList{
    color: var(--corDestaque2);
    font-weight: 200;
    font-size: 1.125rem;
    font-family: "Lexend Deca", sans-serif;
    text-align: justify;

}
.assinatura {
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: #0b1224;
    color: var(--corDestaque2);
    font-weight: 200;
    font-size: 1.125rem;
    font-family: "Lexend Deca", sans-serif;
}


